  /* background pages styling
  made the background image dark blue to allow for text and images/videos to stand out,
  this also make the website more eyecatching for other performers or directors as it is a way to show your personality,
  had trobule with the size of the image as the smaller it was made the more zoomed in it became
  so kept the image bigger to let it zoom out, tied different background size
  but didnt look good it gave the an unfinished feel, which was not the aim */
/* used photoshop to optimize images so that they are smaller files but keep a good level of quality */

.background2{
  background-image: url("../image/left.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

/* title/logo and menu styling,
the colours used on this website was inspired by an ancient egyption style braclet,
the title doubles up as the logo as this is a website design for a performer to showcase
there work so directors casting can see what they have done and possibly offer then a job,
its also good for the performers fans supporters to know more about there idol,
as such there name is there logo so this is why there is not a seprate one, */
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.tabs{  /* the tabs are the Menu for each page. was thinking of doing a drop down menu
  but decided against it to make it easier for people viewing the website having
  the tabs instead makes it clear whats on the website.
  was also trying to get them in a nice line which looks good on laptop but not so much on phone,
  will see if can improve this */
  float: left;
  width:30%; /* changed the tabs from 1 line to 2 as
  this looked more professional on both laptop and mobile screen,
  when it was a single row the text was coming out the boxes on mobile view which looked horrendous and unprofessional*/
  background-color: #000033; /* wanted this to be solid blue
  so that it can blend in to the colours but still stand out on its own */
  text-align: center;
  color: GoldenRod;  /* chose goldenrod for text to
  complement the title logo used gold before but was to harsh for the eyes as it was bright */
  font-family: 'Courgette', serif; /* chose courgette to compliment the title/logo
  as it is a similar font so this was used for titles and tabs */
  font-size: 20px;
  margin:1%;
  padding: 1%;
  box-sizing: 50%;
  border: 3px solid GoldenRod;  /* like having things set out in the boxes as feel it helps people follow the website especially
  because this website has bold colours*/
  border-radius: 5px;
  }

  /* had great difficulty trying to make all the pages layout different but through the
  different tranformations, aniamtions and using containers/id give the freedom to explore new ways of setting everything out
  and making it pleasing to the eyes*/

  /* about page styling */

h1{ /* have made all h1 titles the same font as menu tabs to help it all tie in together */
  text-align: center;
  color: GoldenRod;
  font-family: 'Courgette', serif;
  font-size: 24px;
 }

.leona{/* this was to add the box to be same as all pages*/
  /* having the text/photos ect in boxes helps with the flow of the website,
  and makes the text and images stand out from the background making them aesthetically
  more pleasing to look at and gives the website a more finished look and feel*/
  float: left;
  background-color: #000033;
  background: rgba(0, 0, 51, 0.7);
  text-align: center;
  color: GoldenRod;
  font-family: 'Overlock', serif;
  font-size: 18px;
  margin:1%;
  padding: 1%;
  box-sizing: 50%;
  border: 3px solid GoldenRod;
  border-radius: 5px
}

/* the aim was to have an image start off small and become full size then back to small again,
with the styling below was able to do this */
.leona1png{
  margin: 1px;
  width: 40%;
  height: 40%;
  transition: width 1s, height 1s, transform 1s;
}
.leona1png:hover {
  margin: 1px;
  width: 100%;
  height: 100%;
  transform:scale(100%);
}


/* theatre page styling */

/* with help of w3schools got an idea of how to do the code and have change it to fit the website,
wanted to put a timeline as its a great way to show past production and add images/videos so people
looking at the website gets to enjoy the journey as its all in bite size pieces,
not all dates will have image or video*/

.timeline {/* this was to add the box to be same as all pages*/
float:left;
background-color: #000033;
background: rgba(0, 0, 51, 0.7);
text-align: center;
color: GoldenRod;
font-family: 'Overlock', serif;
font-size: 18px;
margin:1%;
padding: 1%;
box-sizing: 50%;
border: 3px solid GoldenRod;
border-radius: 5px;
}
/* kept the notes from w3schools so you new where i got it come,
also keeing the notes helped when started changing things to adapt
it to the feel and look of the website */
* {
  box-sizing: border-box;
}
body {
  background-color: #000033;
  font-family: 'Overlock', serif; /* changed font and colours */
}
/* note from W3schools The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  width: 98%; /* changed to fit the screens */
  margin: 0 auto;
}
/* note from W3schools The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: GoldenRod; /* changed colour */
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}
/* note from W3schools Container around content */
.container3 {
  padding: 10px 40px;
  position: relative;
  width: 50%;
}
/* note from W3schools The circles on the timeline */
.container3::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #4d0066; /* changed colors */
  border: 4px solid GoldenRod;/* chnaged colours */
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
/* note from W3schools Place the container to the left */
.left {
  left: 0;
}
/* note from W3schools Place the container to the right */
.right {
  left: 50%;
}
/* note from W3schools Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid GoldenRod; /* chaned colours */
  border-width: 15px 0 15px 12px;/* made arrow bigger */
  border-color: transparent transparent transparent GoldenRod;/* changed colours*/
}
/* note from W3schools Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid GoldenRod;/* changed colours */
  border-width: 15px 12px 15px 0;/* made arrow bigger */
  border-color: transparent GoldenRod transparent transparent;
}
/* note from W3schools Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}
/* note from W3schools - The actual content */
.content3 {/* removed background colours and box as didnt want ot need them,
  wanted the background same as website,but because it was put in the box that
  have added to every page didnt need a box again */
  padding: 2%;/* chnaged padding to 2% */
  position: relative;
  border-radius: 8px;/* made bigger to line up with arrows */
  border: medium solid GoldenRod;/* changed colours */
  border-color: GoldenRod;/* changed colours */
}
/* note from W3schools Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }
/* note from W3schools Full-width containers */
  .container3 {
  width: 100%;/* changed to width */
  padding-left: 70px;
  padding-right: 25px;
  }
/* note from W3schools Make sure that all arrows are pointing leftwards */
  .container3::before {
    left: 60px;
    border: medium solid GoldenRod;
    border-width: 10px 10px 10px 0;
    border-color: transparent GoldenRod transparent transparent;/* changed colours */
  }
/* note from W3schools Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }
/* note from W3schools Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}


/* classical dance page styling */

.dance { /* this was to add the box to be same as all pages*/
float:left;
background-color: #000033;
background: rgba(0, 0, 51, 0.7);
color: GoldenRod;
font-family: 'Overlock', serif;
font-size: 18px;
text-align: center;
width: 98%;
margin:1%;
padding: 1%;
box-sizing: 50%;
border: 3px solid GoldenRod;
border-radius: 5px;
}

.kuch1 {
text-align: center;
}

/* tied to get the text to wrap around the text,
this didnt work as would have hoped but still happy with the layout,
watched a youtube video to try and help figure it out, have added to footer
on classical dance page,
moved dance poses images to the sides and have the text beside them,  */
.dance1{
float: right;
padding: 2px;
width: 25%;
shape-outside: url("..image/dance1.png");
shape-margin: 5px;
}

 .dance2{
float: left;
padding: 2px;
width: 25%;
shape-outside: url("..image/dance2.png");
shape-margin: 5px;
}

/* changed the 4 columns to 6 to fit within the styling of the dance paragraphs */
/* w3schools notes- The grid: Four equal columns that floats next to each other */
.column4 {
 float: left;
 width: 16%;
 padding: 3px;
}

/* added radius and made it 15px to round the edages to sofen the photos before
there inlarged */
/* w3schools notes - Style the images inside the grid */
.column4 img {
 opacity: 0.8;
 cursor: pointer;
 border-radius: 15px;
}

.column4 img:hover {
 opacity: 1;
}

/* w3schools notes - Clear floats after the columns */
.row4:after {
 content: "";
 display: table;
 clear: both;
}

/* w3schools notes - The expanding image container
(positioning is needed to position the close button and the text) */
.container4 {
 position: relative;
 display: none;
}

/* w3schools notes - Expanding image text */
#imgtext {
 position: absolute;
 bottom: 10px;
 left: 5px;
 color: #000033;
 font-size: 20px;
}

/* w3schools notes - Closable button inside the image */
.closebtn {
 position: absolute;
 top: 10px;
 right: 20px;
 color: #000033;
 font-size: 35px;
 cursor: pointer;
}
/* changed as much as could without losing the work already put into the designing
and layout have had may problems with sorthing the boxes the text have been put in,
managed to change most things to match and fit in with the design layout and colours */

/* movies page styling */

/* each styles for pages using id and containers represented new challenges and new learning,
would remove and edit parts didnt like and found it broke the code but in the end found the balance,
which allowed the layouts to come to life*/

.id{ /* used same colours and boxes as other pages to tie them all together*/
  float: left;
  background-color: #000033;
  background: rgba(0, 0, 51, 0.7);
  text-align: center;
  color: GoldenRod;
  font-family: 'Overlock', serif;
  font-size: 18px;
  margin:1%;
  padding: 1%;
  box-sizing: 50%;
  border: 3px solid GoldenRod;
  border-radius: 5px
  }

.moviecontainer {/* this was to add the box to be same as all pages*/
  float:left;
  background-color: #000033;
  background: rgba(0, 0, 51, 0.7);
  text-align: center;
  color: GoldenRod;
  font-family: 'Overlock', serif;
  font-size: 20px;
  margin:1%;
  padding: 1%;
  box-sizing: 50%;
  border: 3px solid GoldenRod;
  border-radius: 5px
  }
.movie {
  text-align:center
  border-radius: 5px;
  background-color:#000033;
  }
* {
  box-sizing: border-box;
}
/* have played with the flex percentage to get three equal columns next to each other */
.column1 {
  flex: 33%;
  padding: 5px;
}
.row1{
  content: "";
display: flex;
clear: both;
}

/* for each page have tied to keep the same core layout and colour,
while trying to make the content layout different on each pages on some this has been
accomplished, had more images and videos to add but decided against this as
remembered we dont have unlimited data for github with this in mind and still trying
to give good presentaion decided to down size all the images and videos, to
create space */

/* awards page styling */

/* used as first main focus before brining in the certificates  */
.vol0png{
  margin: 1px;
  width: 30%;
  height: 30%;
  transition: width 1s, height 1s, transform 1s;
}
.vol0png:hover {
  margin: 1px;
  width: 100%;
  height: 100%;
  transform:scale(100%);
}
/* wanted to style the audio bar to have
rounded corners as looks better with background*/
.aud{
border-radius: 20px;
}
/* used to stop audio bar over laping on mobile view*/
@media screen and (max-width: 600px) {
.aud, input[type=submit] {
width: 100%;
margin-top: 0;
}
}

.id{ /* used same colours and boxes as other pages to tie them all together*/
  float: left;
  background-color: #000033;
  background: rgba(0, 0, 51, 0.7);
  text-align: center;
  color: GoldenRod;
  font-family: 'Overlock', serif;
  font-size: 18px;
  margin:1%;
  padding: 1%;
  box-sizing: 50%;
  border: 3px solid GoldenRod;
  border-radius: 5px
  }
  /* each styles for pages using id and containers represented new challenges and new learning,
  would remove and edit parts didnt like and found it broke the code but in the end found the balance,
  which allowed the layouts to come to life*/
.awardcontainer {
  float:left;
  background-color: #000033;
  background: rgba(0, 0, 51, 0.7);
  text-align: center;
  color: GoldenRod;
  font-family: 'Overlock', serif;
  font-size: 20px;
  width: 98%;
  margin:1%;
  padding: 1%;
  box-sizing: 50%;
  border: 3px solid GoldenRod;
  border-radius: 5px
  }
.award {
  text-align:center
  border-radius: 5px;
  background-color:#000033;
  }
* {
  box-sizing: border-box;
  }
  /* have played with the flex percentage to get three equal columns next to each other */
  .column2 {
  float: left;
  width: 50%;
  margin-top: 1%; /* changed to % instead of px*/
  padding: 2%; /* changed to % instead of px*/
  /* added rounded corners to submit button as
  looks softer and fits with the websites style */
  border-radius: 5px
  }

  /* note from W3schools clear floats after the columns*/
  .row2:after {
  content: "";
  display: table;
  clear: both;
  }

  /* note from W3schools responsive layout - when the screen is less than 600px wide,
  make the two columns stack on top of each other instead of
  next to each other */
  @media screen and (max-width: 600px) {
  .column, input[type=submit] {
  width: 100%;
  margin-top: 0;
  }
  }


/* contact page styling */

/* wanted to change the look and feel of the contact box
so made the font same as rest of the website and put the contact box in a
border box to match the rest of the website */
.contactbox {/* this was to add the box to be same as all pages*/
float:left;
background-color: #000033;
background: rgba(0, 0, 51, 0.7);
text-align: center;
color: GoldenRod;
font-family: 'Overlock', serif;
font-size: 20px;
margin:1%;
padding: 1%;
box-sizing: 50%;
border: 3px solid GoldenRod;
border-radius: 5px
}
/* w3schools then changed to match website */
.fa {
  padding: 5px;/* made padding smaller to fit text */
  font-size: 25px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
/* w3schools - changed colour and removed background colour as not needed */
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  color: GoldenRod; /* changed colour and removed background so that the icon itself stood out
  and matched the rest of the layout */
}
.fa-instagram {
  color: GoldenRod; /* changed colour and removed background so that the icon itself stood out
  and matched the rest of the layout */
}
.socialmedia{
  color: GoldenRod;
  font-family: 'Overlock', serif;
  font-size: 20px;
}

/* code below was created with help of W3schools,
and changes have been made to fit the style and feel of the website */
* {
box-sizing: border-box;
}

/* note from W3schools style inputs*/
input[type=text], select, textarea {
font-family: 'Overlock', serif; /* changed font to match rest of website have used overlock for
paragraphs as found this to be nicer to read and use Courgette for tabs titles and headers to
match the look and feel of the title/logo image*/
font-size: 14px;
width: 100%;
padding: 12px;
border: 1px solid #4d0066;/* changed to a darker
purple to go with the light purple box */
margin-top: 1%; /* changed to % instead of px*/
margin-bottom: 1%; /* changed to % instead of px*/
resize: vertical;
/* added rounded corners to submit button as
looks softer and fits with the websites style */
border-radius: 5px
}

input[type=submit] {
background-color: #4d0066;/* changed to a darker
purple to go with the light purple box */
color: white;
padding: 12px 56px; /*incresed to 56px to fit the screen on laptop view*/
border: none;
cursor: pointer;
/* added rounded corners to submit button as
looks softer and fits with the websites style */
border-radius: 25px;
box-shadow: 0 7px #13001a;
}

input[type=submit]:hover {
  background-color: #c933ff;
}
/* note from W3schools style the container/contact section */
.container {
text-align:center
border-radius: 5px;
background-color: #f2ccff;
/* changed to a light purple to help it stand alone on the website */
padding: 1%; /* changed to % instead of px*/
/* added rounded corners to submit button as
looks softer and fits with the websites style */
border-radius: 5px
}

/* note from W3schools create two columns that float next to eachother */
.column {
float: left;
width: 50%;
margin-top: 1%; /* changed to % instead of px*/
padding: 2%; /* changed to % instead of px*/
/* added rounded corners to submit button as
looks softer and fits with the websites style */
border-radius: 5px
}

/* note from W3schools clear floats after the columns*/
.row:after {
content: "";
display: table;
clear: both;
}

/* note from W3schools responsive layout - when the screen is less than 600px wide,
make the two columns stack on top of each other instead of
next to each other */
@media screen and (max-width: 600px) {
.column, input[type=submit] {
  width: 100%;
  margin-top: 0;
}
}

/* while makeing this website ran into alot of difficulty with width, which managed
to over come, after finishing the website relised had used simular code for other pages, if had more
time would have gone back throw and started grouping code that would affect the same thing
this would have made css easyer to follow and would have lead to less trouble, at one point
had tried to code something and it greyed out come of the code that affected a couple of pages,
whent line by line until found out what the problem was on one of the sections it was missing } and
this stopped it from working but found it and sorted it  */

/* footer all pages styling */
footer{
  float:left;
  width: 98%;
  background-color: #000033;
  background: rgba(0, 0, 51, 0.7);
  text-align: center;
  color: GoldenRod;
  font-family: 'Overlock', serif;
  font-size: 14px;
  margin:1%;
  padding: 1%;
  box-sizing: 50%;
  border: 3px solid GoldenRod;
  border-radius: 5px
}
.ref {
  color: GoldenRod;
  font-family: 'Overlock', serif;
  font-size: 12px;
}
